* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body {
  background: linear-gradient(
      to right,
      rgba(19, 14, 54, 0.69),
      rgba(19, 14, 54, 0.69)
    ),
    url("./assets/bg-image.png") no-repeat;
  background-size: cover;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  margin: 40px 0px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  color: #c47b27;
}
.list-item {
  margin: 0px 1rem;
  font-size: 20px;
  cursor: pointer;
}
.button-small {
  padding: 10px 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: #b9345a;
  color: white;
  border: none;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero {
  display: flex;
  flex-direction: column;
}
.hero-heading {
  font-size: 5rem;
  align-self: center;
  max-width: 750px;
  text-align: center;
  color: #c47b27;
}
.button-large {
  padding: 20px 50px;
  font-size: 20px;
  background-color: #b9345a;
  color: white;
  border: none;
  max-width: 250px;
  align-self: center;
  cursor: pointer;
}

/* Bottom-logo */

.bottom-logo {
  position: absolute;
  right: 100px;
  width: 150px;
  height: 150px;
}
